.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 80%;
  height: 30%;
  background: #0f172a;
  margin: 5%;
  padding: 25px;
  border-radius: 15px;
}

.Icon {
  color: #ffffff;
  height: 30px;
  width: 30px;
  margin: 5px;
}

.IconsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
}

@media screen and (max-width: 768px) {
  .Footer {
    align-self: flex-start;
  }
  .IconsContainer {
    align-self: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .Footer {
    align-self: center;
  }
  .IconsContainer {
    align-self: center;
  }
}
